@import url("https://webglfundamentals.org/webgl/resources/webgl-tutorials.css");

body {
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
}

canvas {
  width: 100vw;
  height: 100vh;
  display: block;
}
