@import url("https://webglfundamentals.org/webgl/resources/webgl-tutorials.css");

html{
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
}

#choose{
  position: absolute;
  width: 40%;
  margin-left: 30%;
  margin-right: 50%;
  margin-top: 20%;
  padding: 1% 1% 5% 1%;
  border-radius: 20px;
  background-color: lightgrey;
  text-align: center;
}

canvas {
  width: 100vw;
  height: 100vh;
  display: block;
}
.container {
  position: relative;
  overflow: none;
}

.text {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: hidden;
  color: white;  
}

.floating-div {
  position: absolute;
}
