<link rel="stylesheet" type="text/css" href="style.css">

  <canvas id="canvas"></canvas>
  
	<div id="uiContainer">
		<div id="ui">
			<div id="x"></div>
			<div id="y"></div>
			<div id="z"></div>
			<div id="angleX"></div>
			<div id="angleY"></div>
			<div id="angleZ"></div>
		</div>
	</div>

<script  id="3d-vertex-shader" type="x-shader/x-vertex">
  attribute vec4 a_position;
  attribute vec4 a_color;

  uniform mat4 u_matrix;

  varying vec4 v_color;

  void main() {
    // Multiply the position by the matrix.
    gl_Position = u_matrix * a_position;

    // Pass the color to the fragment shader.
    v_color = a_color;
  }
</script>
	<!-- fragment shader -->
<script  id="3d-fragment-shader" type="x-shader/x-fragment">
  precision mediump float;

  // Passed in from the vertex shader.
  varying vec4 v_color;

  void main() {
    gl_FragColor = v_color;
  }
</script>

<script src="https://webglfundamentals.org/webgl/resources/webgl-utils.js"></script>
<script src="https://webglfundamentals.org/webgl/resources/webgl-lessons-ui.js"></script>
<script src="https://webglfundamentals.org/webgl/resources/m4.js"></script>
<script src="https://webglfundamentals.org/webgl/resources/primitives.js"></script>
<script type="text/javascript" src="webgl.js"></script>
